<section>
  <style>
    .sidebar-ad { width: 280px; height: 280px; }}
    @media(min-width: 375px) { .sidebar-ad { width: 350px; height: 90px; } }
    @media(min-width: 475px) { .sidebar-ad { width: 450px; height: 90px; } }
    @media(min-width: 575px) { .sidebar-ad { width: 550px; height: 90px; } }
    @media(min-width: 675px) { .sidebar-ad { width: 650px; height: 90px; } }
    @media(min-width: 750px) { .sidebar-ad { width: 200px; height: 200px; } }
    @media(min-width: 768px) { .sidebar-ad { width: 210px; height: 210px; } }
    @media(min-width: 1280px) { .sidebar-ad { width: 260px; height: 260px; } }
  </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Sidebar Ad -->
    <ins class="adsbygoogle sidebar-ad"
         style="display:inline-block"
         data-ad-client="ca-pub-6961096698495477"
         data-ad-slot="8892886941"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>