<section>
  <span style="display: block; text-align: center;">
    <a href="https://github.com/larryprice" title="Github"><img src="/images/icon_github.png" class="social-media-icon" /></a>
    <a href="https://bitbucket.org/larryprice" title="Bitbucket"><img src="/images/icon_bitbucket.png" class="social-media-icon" /></a>
    <a href="https://twitter.com/larryrprice" title="Twitter"><img src="/images/icon_twitter.png" class="social-media-icon" /></a>
    <a href="https://www.linkedin.com/pub/larry-price/3a/630/47b" title="LinkedIn"><img src="/images/icon_linkedin.png" class="social-media-icon" /></a>
  </span>
</section>
