// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

p code {
  background: #EBD8C4;
  border: 0;
}

b {
  font-weight: bold;
}

aside {
  &.sidebar {

    .social-media-bar {
      display: block;
      text-align: center;
      margin: .5em;

      img {
        &.social-media-icon {
          border: 0;
          box-shadow: rgba(0,0,0,0.15) 0 0px 0px;
          -webkit-box-shadow: rgba(0,0,0,0.15) 0 0px 0px;

          width: 40px;
          @media(max-width: 1000px) {
            width: 35px;
          }
        }
      }
    }
  }
}
